<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleHelpBookFolder</key>
	<string>Soyuz.help</string>
	<key>CFBundleHelpBookName</key>
	<string>info.maddie.Soyuz.help</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>soyuz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>soyuz</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_xctest._tcp.</string>
		<string>_moonraker._tcp.</string>
		<string>_http._tcp.</string>
	</array>
</dict>
</plist>
